@import '@/styles/_fonts.scss';

.address_container {
    display: flex;
    width: 120px;
    align-items: center;
    gap: 5px;
}

.address {
    @extend %medium_M;
    color: var(--Black-Black---14, #000);
}