.date_container {
    width: 70px;
    color: var(--Black-Black---14, #000);
    text-align: right;

/* Pretendard-Medium-M */
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}