
.container {
    display: flex;
    width: 336px;
    align-items: center;
    gap: 10px;
}

.asset_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}