/// 이곳에 스타일 코드를 작성해 주세요.
.singleTransactionInfo {
  display: flex;
  width: 634px;
  justify-content: space-between;
  align-items: center;
  // Add padding, margins, and any additional styles as needed
}
