.container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  width: 190px;
}

.address {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Pretendard', sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.deposit {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12.5px;
  border-radius: 12.5px;
  background-color: #AFBAF0; // Use your color variable here
}

.withdraw {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12.5px;
  border-radius: 12.5px;
  background-color: #FFCCE5; // Use your color variable here
}
