@import '@/styles/_fonts.scss';

.container{
    display: flex;
    width: 120px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 3px;
}

.amount_decimal{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1px;
}

.amount{
    color: var(--Black-Black---14, #000);
    @extend %medium_L;
}

.amount_symbol{
    color: var(--Black-Black---08, #656565);
    @extend %medium_S;
}

.amount_icon{
    width: 13px;
    height: 13px;
}
