@import '@/styles/_fonts.scss';

.amount_container {
    display: flex;
    width: 120px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 3px;


}

.amount_degit {

    color: var(--Black-Black---14, #000);
    @extend %medium_L;

}

.amount_unit {
    color: var(--Black-Black---08, #656565);
    @extend %regular_S;
}