@import '@/styles/_fonts.scss';

.red {
  color: #f36960;
}

.message {
  /* Pretendard-Regular-S */
  font-family: Pretendard;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
