@import '@/styles/_fonts.scss';

.address_container {
    display: flex;
    width: 120px;
    align-items: center;
    gap: 5px;
}
  
.address {
    color: var(--Black-Black---14, #000);
    @extend %medium_M;
}

.status {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50;
    height: 25px;
    padding: 4px 12.5px;
    border-radius: 12.5px;
    color: var(--Black-Black---14, #000);
    @extend %medium_M;
    &_deposit {
        background: var(--Blue-Main-Blue---01, #AFBAF0);
    }
    &withdraw {
        background: var(--Pink-Sub-Pink---02, #FFCCE5);
    }
}

.addressstatus_container {
    display: inline-flex;
    width: 190px;
    align-items: center;
    gap: 20px;
}